body{
    background-color: rgb(228, 226, 226);
    margin: 0;
    font-family: Tahoma;  
}header{
    background-color: #2186C4 !important;
    position: fixed;
    z-index:4;
    top:0;
    left:0; 
    right: 0;
    
 }
 .navbar{
     margin: 0;
     padding: 0;
 }
#header-content{
    background-color: #2186C4;
  /* left: 0; */
    /* right:0; */
    margin: auto;
}
#header-content img{
    width: 100px;
    height:auto;
    /* float: left; */
}
header ul li a{
    text-decoration: none;
    display: block;
    font-size: 12px;
    font-family: Tahoma;  
    color: white;
    padding: 10px 20px;
    text-transform: uppercase;
    text-align: center;
    position: relative;
}
header ul{
    list-style: none;
    float: right !important;
    padding: 0;
    margin: 0;

}
header ul li{
    float: left;
}
.dropdown ul li{
    float: none;
}
.dropdown{
    display: none;
    position: absolute;
    z-index: 1;
    background-color:#2186C4 ;

}
header ul li:hover .dropdown{
    display: block;
}
header .dropdown ul li a{
    width: 150px;
    text-align: left;
    font-size: 13px; 
    
}

 .clear-float{
     clear: both;
 }
.float-left{
    float: left ;
}
.float-right{
    float: right ;
}
header ul li a:hover{
    color: white ;
    background-color: #FF8066;
    text-decoration: none;
}
#section-content{
    margin-top: 15px;
}
.home .img-slider{
    position: relative;
}

.sanpham .button{
    padding-left: 10px;
    padding-right:10px;
    position: absolute;
    top:50%;
    transform: translate(0,-50%);
    width: 100%;
    z-index: 2;
}
.sanpham .button button{
    border: none;
   border-radius: 50%;
   height: 30px;
   width: 30px;
}
.home .home-news{
    padding-left: 10px;
    margin:0 -15px;
    /* height: 300px; */
    /* width: 370px; */
    background-color: rgb(199, 247, 247);

}
.home .home-news  ul li a{
    text-decoration: none;
    font-size: 16px;
    font-family: Tahoma;     
    color: #2186C4;
}
.home .home-news ul{
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 10px;
}
.home .home-news ul li{
    margin: 10px 0;
    border-bottom: 1px solid white;
}
.home .home-news .scrollbar{
    overflow-y: scroll;
    height:230px;
}
.home .home-news h3{
    color: rgb(92, 89, 89);
    text-align: center;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: none; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(243, 240, 208); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(238, 142, 16); 
}
#section-content{
    margin-top:100px;
}
#section-content .info{
    position: relative;
    margin-top: 50px;
  
}

#section-content .info h2{
    color:white;
    float: left;
    font-size: 18px;
    padding:15px;
    background-color: #3F464C;
    margin:0;
    /* width: 180px; */
}
#section-content .info h4{
    float:left;
    color:white;
    font-size: 16px;
    padding:16px 0 7px 10px;
}
.info .sanpham {

    position: relative;
    /* border: 1px solid black; */
}
.sanpham .item{
    border: solid rgb(161, 159, 159) 1px;
    padding:10px 0;
    background-color: white;

    margin-bottom:30px;
}
.sanpham .item .info-hidden{
    position: absolute;
    top:0;
    width: 255px;
    height: 195.64px;
    padding-right: 10px;
    /* border:1px solid black; */
    background-color:white;
    display: none;
    border-bottom: solid rgb(161, 159, 159) 1px;
    border-top: solid rgb(161, 159, 159) 1px;
    /* border-right: 2px solid rgb(27, 151, 233); */
    /* left:0; */

}
.thongso{
    padding:0;
    margin:0;
    margin-left: 10px;
    font-size:13px;
}

.sanpham .item:hover .info-hidden{
        
    display: block;
}
.sanpham .item img{
    width: auto;
    height: 120px;
    margin-left: 10px;
}
.sanpham .item .name{
    padding: 10px 0 0 10px;
    margin: 0; 
    font-size: 14px;
} 
.gia{
margin: 0;
padding: 0 0 0 10px;
font-size: 18px;
color: red;
}
.row a{
    color:black;
}
#section-content .info .header-infor{
    margin-bottom: 10px;
    background-color:#FF8066;
    
    
}
#section-content .info .sanpham{
    margin-top: 10px;
    position: relative;
}
footer{
    background-color:#3F464C;
    color:white;
    padding-bottom: 20px;
}

#footer-content .footer-item{
    margin-top: 20px;        
    font-size: 12px;   
}
#footer-content .footer-item .item h5{
    margin-top: 15px;
    font-size: 14px;
    font-family: Tahoma;  
    text-transform: uppercase;
}
.sdt{
    color: red;
    font-size: 15px;
}
#footer-content .footer-item .item .logo-png img{
 margin: 5px 12px 5px 0;
}
.sanpham .carousel-control-prev-icon,.sanpham .carousel-control-next-icon  {
    height: 25px;
    width: 25px;
    position: absolute;
    z-index: 2;
    top:15px;
    right:100%;
    
}
.sanpham .carousel-control-prev,
 .sanpham .carousel-control-next {
    width: 0%;
    position: relative;
    color: #fff;
    opacity: 1;
    float:right;

 }
  
 .carousel-control-prev {
    left: -40px;
  }
  
  .carousel-control-next {
    right: none;
  }
  

.detail .detail-img img{
    width: 400px;
    height: auto;
}
.detail {
    background-color: white;
}
.detail .detail-info, .detail .detail-img, .detail .add-img{
margin:  20px 60px;

}
.detail .add-img  img{
    height: 80px;
    width: 80px;
    margin: 0;
}

.detail .detail-info .button-muangay{
    background-color: orange;
    border-radius: 5%;
    text-align: center;
    color:white;

}

.detail .detail-info .button-pay{
    margin-top:10px;
}
.fixed{
    position: fixed;
    z-index: 4;
    margin:0;
    padding:0;
}
.cart a{
    text-decoration: none;
    color:white;  
    padding:8px 10px;
    border: 1.5px solid white;
    border-radius: 7%;
}
.cart a:hover{
    background-color: #FF8066;
}
.search{
    padding: 0.375rem;
    font-size: 1rem;
    line-height: 1;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}
.navbar-toggler{
    background-color: white;
    border: 1px solid white;  
    font-size: 1.20rem;  
}
.btn-outline-success{
    color: white;
    border-color: white;
    line-height: 1.2;
}
.btn-outline-success:hover {
    background-color: #FF8066;
    border-color: #FF8066;
  }
  #footer-content .item a{
      color:white;
  }
  #myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 150px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none;  
    color: #2186C4; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
  
    background-color:transparent;
}
#myBtn:hover {
   color: #FF8066;/* Add a dark-grey background on hover */
}